﻿<html>
<head>
    <title>EasyGDS Embedded Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <meta name="theme-color" content="#0f68a4" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet" type="text/css">
</head>
<style>
    :root {
        --primary-color: #0f68a4;
    }
</style>
<body>
    <div
        app-url="{{app_url}}"
        combine="{{combine}}"
        id="gq-search-forms-{{combine}}"
        class="gq-shopping-form"
    ></div>
</body>
<script src="https://storage.googleapis.com/easy_gds_file/cms/app.js"></script>
</html>