{% extends 'children/layout/index.html' %}
{% set booking_code = booking.code or 'TEST000001' %}
{% block body %}

{% set flight = product or {} %}
{% set fare = flight.get('fare') or {} %}
{% set de_info = flight.get('de_info') or {} %}
{% set re_info = flight.get('re_info') or {} %}
{% set travelers = booking.travelers or [{}] %}

<div style="padding-top: 20px; margin-top: 20px; border-top: 1px solid #e1e1e1; color: black">
    <div style="margin: -10px 0">
        <div style="width: 24%; display: inline-block; margin: 10px 0">
	        <span style="color: #999; font-size: 12px; display: block">
	          Departure Airport
	        </span>
            <span>
	          {{ flight.departure_airport_code }}
	        </span>
        </div>
        <div style="width: 24%; display: inline-block; margin: 10px 0">
	        <span style="color: #999; font-size: 12px; display: block">
	          Arrival Airport
	        </span>
            <span>
	          {{ flight.arrival_airport_code }}
	        </span>
        </div>
        <div style="width: 24%; display: inline-block; margin: 10px 0">
	        <span style="color: #999; font-size: 12px; display: block">
	          Departure Date
	        </span>
            <span>
	          {{ flight.departure_datetime or '-/-' }}
	        </span>
        </div>
        <div style="width: 24%; display: inline-block; margin: 10px 0">
	        <span style="color: #999; font-size: 12px; display: block">
	          Return Date
	        </span>
            <span>
	          {{ flight.return_datetime or '-/-' }}
	        </span>
        </div>
        <div style="width: 24%; display: inline-block; margin: 10px 0">
	        <span style="color: #999; font-size: 12px; display: block">
	          Cabin Class
	        </span>
            <span>
	          {{ flight.fare.cabin_class }}
	        </span>
        </div>
        <div style="width: 24%; display: inline-block; margin: 10px 0">
	        <span style="color: #999; font-size: 12px; display: block">
	          Provider
	        </span>
            <span>
	          {{ flight.supplier_code or '-/-' }}
	        </span>
        </div>
        <div style="width: 24%; display: inline-block; margin: 10px 0">
	        <span style="color: #999; font-size: 12px; display: block">
	          PNR
	        </span>
            <span>
	          {{ flight.pnr or '-/-' }}
	        </span>
        </div>
    </div>
</div>

{% for info in [de_info, re_info] %}
{% if info %}
<div style="padding-top: 20px; margin-top: 20px;">
	    <span style="display: block; font-size: 18px; color: black; font-weight: 500;">
        {% if loop.index == 1 %}
	        Departure
        {% else %}
	        Return
        {% endif %}
	    </span>
</div>

{% set segments = info.segments %}
<div style="padding-top: 20px; margin-top: 20px; border-top: 1px solid #e1e1e1">
    <table style="width: 100%" cellspacing="0" cellpadding="0">
        <thead>
        <tr style="background: #f4f5f8; height: 40px; color: black">
            <td style="padding-left: 10px">Flight Number</td>
            <td style="padding-left: 10px">Cabin Class</td>
            <td style="padding-left: 10px">Departure</td>
            <td style="padding-left: 10px">Arrival</td>
            <td style="padding-left: 10px">Baggage</td>
        </tr>
        </thead>
        <tbody>
        {% for segment in segments %}
        <tr>
            <td style="padding: 10px; border-bottom: 1px solid #e1e1e1">
                {{ segment.flight_no }}
            </td>
            <td style="padding: 10px; border-bottom: 1px solid #e1e1e1">
                {{ segment.cabin_class }}
            </td>
            <td style="padding: 10px; border-bottom: 1px solid #e1e1e1">
                <div>
	              <span style="display: block">
	                {{ segment.departure_airport_code }}
	              </span>
                    <span>
	                {{ segment.departure_datetime }}
	              </span>
                </div>
            </td>
            <td style="padding: 10px; border-bottom: 1px solid #e1e1e1">
                <div>
	              <span style="display: block">
	                {{ segment.arrival_airport_code }}
	              </span>
                    <span>
	                {{ segment.arrival_datetime }}
	              </span>
                </div>
            </td>
            <td style="padding: 10px; border-bottom: 1px solid #e1e1e1">
                <div>
                    {% for baggage in fare.baggage_allowance or [] %}
                    {% set adult = baggage.get('adult') %}
                    {% set child = baggage.get('child') %}
                    {% if adult and baggage.flight_no == segment.flight_no %}
                    <span style="display: block">
	                  Adult: {{ adult.text }}
	                </span>
                    {% endif %}
                    {% if child and baggage.flight_no == segment.flight_no %}
                    <span style="display: block">
	                  Child: {{ child.text }}
	                </span>
                    {% endif %}
                    {% endfor %}
                </div>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% endfor %}
{% include 'children/travelers/index.html' %}
{% endblock %}
