{% extends 'children/layout/index.html' %}
{% set booking_code = booking.code or 'TEST000001' %}
{% block body %}

{% set hotel = product or {} %}
<div style="padding-top: 20px; margin-top: 20px; border-top: 1px solid #e1e1e1">
    <span style="display: block; font-size: 18px; color: black; font-weight: 500;">
      {{ hotel.name }}
    </span>
    <span style="color: #999">
      {{ hotel.star }} stars
    </span>
</div>

<div style="padding-top: 20px; margin-top: 20px; border-top: 1px solid #e1e1e1; color: black">
    <div style="margin: -10px 0">
        <div style="width: 24%; display: inline-block; margin: 10px 0">
        <span style="color: #999; font-size: 12px; display: block">
          Checkin / Checkout
        </span>
            <span>
          {{ hotel.checkin_date }} - {{ hotel.checkout_date }}
        </span>
        </div>
        <div style="width: 24%; display: inline-block; margin: 10px 0">
        <span style="color: #999; font-size: 12px; display: block">
          Stay
        </span>
            <span>
          {{ hotel.night_count }} Nights | {{ booking.travelers | length }} Passengers
        </span>
        </div>
        <div style="width: 24%; display: inline-block; margin: 10px 0">
        <span style="color: #999; font-size: 12px; display: block">
          Phone
        </span>
            <span>
          {{ hotel.phone }}
        </span>
        </div>
        <div style="width: 24%; display: inline-block; margin: 10px 0">
        <span style="color: #999; font-size: 12px; display: block">
          Fax
        </span>
            <span>
          {{ hotel.fax or '-/-'}}
        </span>
        </div>
        <div style="width: 100%; display: inline-block; margin: 10px 0">
        <span style="color: #999; font-size: 12px; display: block">
          Address
        </span>
            <span>
          {{ hotel.street_address }}
        </span>
        </div>
    </div>
</div>

<div style="padding-top: 20px; margin-top: 20px; border-top: 1px solid #e1e1e1; color: black">
    <span style="display: block; font-size: 18px; color: black; font-weight: 500; margin-bottom: 10px">
      Rooms
    </span>
    {% for room in hotel.selected_rooms %}
    <div style="border: 1px solid #e1e1e1; margin-bottom: 10px">
        <div style="padding: 10px; border-bottom: 1px solid #e1e1e1">
            <div style="display: inline-block; width: 49%">
                <span style="color: #999">Room #{{ loop.index }}:</span>
                {{ room.room_name }}
            </div>
            <div style="text-align: right; display: inline-block; width: 50%">
        <span
                style="font-weight: 500">{{ hotel.currency_info.conversion }} {{ "%.2f"|format(hotel.price_info.total_amount ) }}
        </span>
            </div>
        </div>
        <div style="padding: 10px">
            <div style="width: 16%; display: inline-block">
          <span style="color: #999; font-size: 12px; display: block">
            Board
          </span>
                <span>
            {{room.rate.board_basis or '-/-'}}
          </span>
            </div>
            <div style="width: 16%; display: inline-block">
          <span style="color: #999; font-size: 12px; display: block">
            Refundable
          </span>
                <span>
            {% if room.rate.non_refundable %}
              No
            {% else %}
              Yes
            {% endif %}
          </span>
            </div>
            <div style="width: 16%; display: inline-block">
          <span style="color: #999; font-size: 12px; display: block">
            Free Cancellation
          </span>
                <span>
            {% if room.rate.free_cancellation %}
              Yes
            {% else %}
              No
            {% endif %}
          </span>
            </div>
            <div style="width: 16%; display: inline-block">
          <span style="color: #999; font-size: 12px; display: block">
            Provider
          </span>
                <span>
            {{ room.rate.source_id or '-/-'}}
          </span>
            </div>
            <div style="width: 16%; display: inline-block">
          <span style="color: #999; font-size: 12px; display: block">
            Booking Ref
          </span>
                <span>
          {{ room.bk_ref or '-/-'}}
          </span>
            </div>
        </div>
    </div>
    {% endfor %}
    <div style="padding-top: 20px; margin-top: 20px; border-top: 1px solid #e1e1e1">
    <span style="display: block; font-size: 18px; color: black; font-weight: 500; margin-bottom: 10px">
      Checkin / Checkout Times
    </span>

        <div>
      <span style="display: block">
        Checkin: {{ hotel.checkin_time}}
      </span>
            <span style="display: block">
        Checkout: {{ hotel.checkout_time}}
      </span>
        </div>
    </div>
</div>

{% include 'children/travelers/index.html' %}
{% endblock %}
