{% extends 'children/layout/index.html' %}
{% set booking_code = booking.code or 'TEST000001' %}
{% block body %}

{% set tour = product or {} %}
{% set selected_activity = tour.activity or {} %}
{% set daily_rate = selected_activity.daily_rate or {} %}
<div style="padding-top: 20px; margin-top: 20px; border-top: 1px solid #e1e1e1">
  <span style="display: block; font-size: 18px; color: black; font-weight: 500;">
    {{ tour.title or '-/-' }}
  </span>
  <span style="color: #999">
    {{ selected_activity.name  or '-/-'}}
  </span>
</div>

<div style="padding-top: 20px; margin-top: 20px; border-top: 1px solid #e1e1e1; color: black">
  <div style="margin: -10px 0">
    <div style="width: 24%; display: inline-block; margin: 10px 0">
      <span style="color: #999; font-size: 12px; display: block">
        Provider
      </span>
      <span>
        {{ tour.supplier_code }}
      </span>
    </div>
    <div style="width: 24%; display: inline-block; margin: 10px 0">
      <span style="color: #999; font-size: 12px; display: block">
        Booking Ref
      </span>
      <span>
        {{tour.booking_reference or '-/-'}}
      </span>
    </div>
    <div style="width: 24%; display: inline-block; margin: 10px 0">
      <span style="color: #999; font-size: 12px; display: block">
        Voucher URL
      </span>
      {% set voucher_url = tour.get('voucher_url') %}
      {% if voucher_url %}
      <a href="{{ voucher_url }}">
        Click here
      </a>
      {% else %}
      -/-
      {% endif %}
    </div>
  </div>
</div>

<div style="padding-top: 20px; margin-top: 20px; border-top: 1px solid #e1e1e1; color: black">
  <span style="display: block; font-size: 18px; color: black; font-weight: 500; margin-bottom: 10px">
    Activity
  </span>

  <div style="margin: -10px 0">
    <div style="width: 24%; display: inline-block; margin: 10px 0">
      <span style="color: #999; font-size: 12px; display: block">
        Name
      </span>
      <span>
        {{ selected_activity.name  or '-/-'}}
      </span>
    </div>
    <div style="width: 24%; display: inline-block; margin: 10px 0">
      <span style="color: #999; font-size: 12px; display: block">
        Departure Date
      </span>
      <span>
        {{ daily_rate.date or '-/-' }} {{ selected_activity.departure_time }}
      </span>
    </div>
    <div style="width: 24%; display: inline-block; margin: 10px 0">
      <span style="color: #999; font-size: 12px; display: block">
        Duration
      </span>
      <span>
        {{ tour.contents.duration}}
      </span>
    </div>
    <div style="width: 24%; display: inline-block; margin: 10px 0">
      <span style="color: #999; font-size: 12px; display: block">
        Address
      </span>
      <span>
       {{ tour.contents.address }}
      </span>
    </div>
    <div style="width: 100%; display: inline-block; margin: 10px 0">
      <span style="color: #999; font-size: 12px; display: block">
        Age Policy
      </span>
      <span>
        {% set age_policy = [] %}
        {% for age in selected_activity.ages or [] %}
          {% set age_policy=age_policy.append(age.type + ': ' + age.min | string + ' - ' + age.max | string) %}
        {% endfor %}
        {{ ' | '.join(age_policy) }}
      </span>
    </div>
    <div style="width: 100%; display: inline-block; margin: 10px 0">
      <span style="color: #999; font-size: 12px; display: block">
        Description
      </span>
      <span>
        {{ tour.contents.description }}
      </span>
    </div>
  </div>
</div>

{% include 'children/travelers/index.html' %}
{% endblock %}
