{% set travelers = booking.travelers or [{}] %}
<tr>
  <td>
    <div style="background: white; border-radius: 10px; padding: 20px; margin-bottom: 20px">
            <span style="font-size: 18px; font-weight: 500; margin-bottom: 10px; display: block">
              Passengers
            </span>

      <table style="width: 100%" cellspacing="0" cellpadding="0">
        <thead>
        <tr style="background: #f4f5f8; height: 40px; color: black">
          <td style="padding-left: 10px">Name</td>
          <td style="padding-left: 10px">Type</td>
          <td style="padding-left: 10px">Passport</td>
          <td style="padding-left: 10px">E-Ticket</td>
          <td style="padding-left: 10px">Nationality</td>
        </tr>
        </thead>
        <tbody>
        {% for pax in travelers %}
          <tr>
            <td style="padding: 10px; border-bottom: 1px solid #e1e1e1">
              {{ pax.title }}. {{ pax.first_name }} {{ pax.last_name }}
            </td>
            <td style="padding: 10px; border-bottom: 1px solid #e1e1e1">
              Adult
            </td>
            <td style="padding: 10px; border-bottom: 1px solid #e1e1e1">
              <div style="font-size: 12px">
                <span style="color: #999">Number: </span>
                <span>{{ pax.get('passport_number') or '-/-' }}</span>
              </div>
              <div style="font-size: 12px">
                <span style="color: #999">Expire: </span>
                <span>{{ pax.get('passport_expire') or '-/-' }}</span>
              </div>
              <div style="font-size: 12px">
                <span style="color: #999">Country Issued: </span>
                <span>{{ pax.get('passport_country') or '-/-' }}</span>
              </div>
            </td>
            <td style="padding: 10px; border-top: 1px solid #e1e1e1">
              {{ pax.eticket or '-/-' }}
            </td>
            <td style="padding: 10px; border-top: 1px solid #e1e1e1">
              {{ pax.nationality or '-/-' }}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </td>
</tr>
