{% set price_info = booking.price_info or {} %}
{% set product_prices = price_info.product_prices or [{'code': 'hotel', 'name': 'Hotel'}, {'code': 'flight', 'name': 'Flight'}] %}
<tr>
  <td>
    <div style="background: white; border-radius: 10px; padding: 20px; margin-bottom: 20px">
      <span style="font-size: 18px; font-weight: 500; margin-bottom: 10px; display: block">Prices</span>
      {% for pp in product_prices %}
        <div style="margin-bottom: 15px">
            <span style="color: #555">
              {{ pp.name }}
            </span>
          <span style="float: right">
            {{ booking.currency_code or 'USD' }} {{ "%.2f"|format(pp.total_amount) or '123.12' }}
          </span>
        </div>
      {% endfor %}
      <div style="margin-bottom: 10px">
        <span style="font-weight: 300; color: #555"><a style="text-decoration: none;color:#555" href="https://apc01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fs3.ap-southeast-1.amazonaws.com%2Ftuneprotect.com%2Fairasia%2FAAHolidays_PolicyWording_MY.pdf&data=05%7C01%7Csufee.izzuddin%40tuneprotect.com%7C39717a9e3ea34604ce2808da54efc76b%7C034de8bf2acf4de7aec2fc54e5882144%7C0%7C0%7C637915686348728560%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&sdata=GVtGcRQLxzQMdLfmc%2Fvhyx3xQvrGpmeGO%2FZSMfvV4jk%3D&reserved=0">Worry Free Protection Fees</a></span>
        <span style="float: right; font-weight: 300; color: #555">
              {{ booking.currency_code or 'USD' }} {{ "%.2f"|format(price_info.wfp_fees) or '' }}
            </span>
      </div>
      <div>
        <span style="font-weight: 500">Total</span>
        <span style="float: right; font-weight: 500; color: #036835">
              {{ booking.currency_code or 'USD' }} {{ "%.2f"|format(price_info.total_amount) or '123.12' }}
            </span>
      </div>
    </div>
  </td>
</tr>