{% set booking_contact = booking.get('contact') or {} %}
{% set supports = app.get('contacts') or {} %}
<tr>
  <td>
    <div style="text-align: center; margin-bottom: 40px; color: #555">
      <div>
          {% if app.logo %}
           <img
            src="{{app.logo.url}}"
            style="height: 40px">
          {% else %}
            <span>{{app.name}}</span>
          {% endif %}
        <div>
          Hotline:
          <span style="color: #027BE3">{{ supports.hotline or '-/-' }}</span>
          | Email:
          <span style="color: #027BE3">{{ supports.email or '-/-' }}</span>
          | Website:
          <span style="color: #027BE3">{{ supports.website or '-/-' }}</span>
        </div>
      </div>
      <div style="margin-top: 20px; padding-top: 20px; border-top: 1px solid #e1e1e1">
        This confirmation email was sent only to
        <span style="color: #027BE3">{{ booking_contact.email or '/' }}</span>.
        We wish you a pleasant journey. {{app.name}} Customer Service
        Team.
      </div>
      <div style="margin-top: 20px; padding-top: 20px; border-top: 1px solid #e1e1e1">
        This email was sent by: {{app.name}}
      </div>
    </div>
  </td>
</tr>