{% set flight = product.data or {} %}
{% set fare = flight.get('fare') or {} %}
{% set de_info = flight.get('de_info') or {} %}
{% set re_info = flight.get('re_info') or {} %}
<div style="display: flex; margin-bottom: 20px">
    <div style="width: 30px; margin-right: 20px">
        <div
                style="width: 30px; height: 30px; background: #027BE3; text-align: center; line-height: 33px; border-radius: 50%;">
            <img src="https://storage.googleapis.com/easy_gds_file/icons/flight.png"
                 width="14px" height="14px">
        </div>
        <div style="height: 100%; width: 1px; background: #e1e1e1; margin: auto"></div>
    </div>
    <div style="width: 100%">
        <div>
      <span style="font-size: 12px; color: #999; display: block; line-height: 1;">
        {{ de_info.start_date }}
      </span>
            <span>
        Fight from {{ flight.departure_airport_code }} to {{ flight.arrival_airport_code }}
      </span>
        </div>
        <div
                style="background: #f4f5f8; border-radius: 10px; padding: 15px; margin-top: 10px; border: 1px solid #f4f5f8;">
            <div style="display: flex">
                <div style="border: 1px solid #e1e1e1; border-radius: 5px; width: 50px; height: 50px; padding: 5px; background: white">
                    <img
                            src="https://s3.eu-central-1.amazonaws.com/images.flightradar24.com/assets/airlines/logotypes/MH_MAS.png"
                            style="width: 50px; height: 50px; object-fit: contain;">
                </div>
                <div style="margin-left: 15px;">
                    <div style="width: 150px; display: flex">
                        <div>
                            <span>{{ flight.departure_airport_code }}</span>
                            <span style="display: block; font-size: 12px; color: #999">
                {{ de_info.start_time or '-/-' }}
              </span>
                        </div>
                        <div style="text-align: right; margin-left: auto">
                            <span>{{ flight.arrival_airport_code }}</span>
                            <span style="display: block; font-size: 12px; color: #999">
                {{ de_info.end_time or '-/-' }}
              </span>
                        </div>
                    </div>
                    <span style="display: block; font-size: 12px; color: #999; margin-top: 3px">
            {{fare.booking_class}} | {{fare.cabin_class}}
          </span>
                </div>
                <div style="margin-left: auto; text-align: right; margin-top: 8px">
                    <span style="color: #999">PNR</span>
                    <span style="font-weight: bold; font-size: 18px; display: block">
            {{ flight.pnr or '-/-' }}
          </span>
                </div>
            </div>
        </div>
    </div>
</div>
{% if re_info %}
<div style="display: flex; margin-bottom: 20px">
    <div style="width: 30px; margin-right: 20px">
        <div
                style="width: 30px; height: 30px; background: #027BE3; text-align: center; line-height: 33px; border-radius: 50%;">
            <img src="https://storage.googleapis.com/easy_gds_file/icons/flight.png"
                 width="14px" height="14px">
        </div>
        <div style="height: 100%; width: 1px; background: #e1e1e1; margin: auto"></div>
    </div>
    <div style="width: 100%">
    <div>
      <span style="font-size: 12px; color: #999; display: block; line-height: 1;">
        {{ re_info.start_date }}
      </span>
        <span>
        Fight from {{ flight.arrival_airport_code }} to {{ flight.departure_airport_code }}
      </span>
    </div>
    <div
            style="background: #f4f5f8; border-radius: 10px; padding: 15px; margin-top: 10px; border: 1px solid #f4f5f8;">
        <div style="display: flex">
            <div style="border: 1px solid #e1e1e1; border-radius: 5px; width: 50px; height: 50px; padding: 5px; background: white">
                <img
                        src="https://s3.eu-central-1.amazonaws.com/images.flightradar24.com/assets/airlines/logotypes/MH_MAS.png"
                        style="width: 50px; height: 50px; object-fit: contain;">
            </div>
            <div style="margin-left: 15px;">
                <div style="width: 150px; display: flex">
                    <div>
                        <span>{{ flight.departure_airport_code }}</span>
                        <span style="display: block; font-size: 12px; color: #999">
                {{ re_info.start_time or '-/-' }}
              </span>
                    </div>
                    <div style="text-align: right; margin-left: auto">
                        <span>{{ flight.arrival_airport_code }}</span>
                        <span style="display: block; font-size: 12px; color: #999">
                {{ re_info.end_time or '-/-' }}
              </span>
                    </div>
                </div>
                <span style="display: block; font-size: 12px; color: #999; margin-top: 3px">
            {{fare.booking_class}} | {{fare.cabin_class}}
          </span>
            </div>
            <div style="margin-left: auto; text-align: right; margin-top: 8px">
                <span style="color: #999">PNR</span>
                <span style="font-weight: bold; font-size: 18px; display: block">
            {{ flight.pnr or '-/-' }}
          </span>
            </div>
        </div>
    </div>
</div>
</div>
{% endif %}
