<tr>
    <td>
        <div style="background: white; border-radius: 10px; padding: 20px; margin-bottom: 20px">
            <span style="font-size: 18px; font-weight: 500; margin-bottom: 10px; display: block">
              Payment
            </span>
            <div>
                <div style="width: 50%; display: inline-block; margin: 5px 0">
                <span style="color: #999; display: block; font-size: 10px">
                  Payment Date
                </span>
                    <span>
                  {{ payment.created_at }}
                </span>
                </div>
                <div style="width: 50%; display: inline-block; margin: 5px 0">
                <span style="color: #999; display: block; font-size: 10px">
                  Status
                </span>
                    <span>
                  {{ payment.status or '-/-' }}
                </span>
                </div>
            </div>
        </div>
    </td>
</tr>
