<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; box-sizing: border-box; font-size: 14px; color: #555; width: 1000px">
  <div style="margin-top: 20px">
    <img src="{{app.logo_url}}"
         style="height: 40px">
    <div style="text-align: right; float: right">
      <span style="font-size: 20px; color: #027BE3; font-weight: 500;">
        {{ booking.code }}
      </span>
      <span style="color: #555; display: block">Booking Number</span>
    </div>
  </div>
  {% block body %}
  {% endblock %}
</body>
</html>