{% set hotel = product.data or {} %}
{% set avatar = hotel.avatar or {} %}
<div style="display: flex; margin-bottom: 20px">
  <div style="width: 30px; margin-right: 20px">
    <div
      style="width: 30px; height: 30px; background: #027BE3; text-align: center; line-height: 33px; border-radius: 50%;">
      <img src="https://storage.googleapis.com/easy_gds_file/icons/hotel.png" width="14px" height="14px">
    </div>
    <div style="height: 100%; width: 1px; background: #e1e1e1; margin: auto"></div>
  </div>
  <div style="width: 100%">
    <div>
      <span style="font-size: 12px; color: #999; display: block; line-height: 1;">
        {{ hotel.checkin_date }} - {{ hotel.checkout_date }}
      </span>
      <span>
        {{ hotel.street_address }}
      </span>
    </div>
    <div
      style="background: #f4f5f8; border-radius: 10px; padding: 15px; margin-top: 10px; border: 1px solid #f4f5f8;">
      <div style="display: flex">
        <div style="border-radius: 5px; width: 60px; height: 60px; overflow: hidden;">
          <img src="{{ avatar.sm or avatar.md or avatar.lg }}"
               style="width: 60px; height: 60px; object-fit: cover;">
        </div>
        <div style="margin-left: 15px;">
          <span>
            {{ hotel.name }}
          </span>
          <div style="display: flex">
            {% for star in range((hotel.star or 5) | int) %}
            <img src="https://storage.googleapis.com/easy_gds_file/icons/star.png" width="14px">
            {% endfor %}
          </div>
          <span style="display: block; font-size: 12px; color: #999; margin-top: 5px">
            {{ hotel.street_address }}
          </span>
        </div>
      </div>
      {% for room in hotel.selected_rooms %}
        <div style="margin-top: 15px; padding-top: 15px; border-top: 1px solid #e1e1e1; display: flex">
          <div>
            <span style="display: block; color: #999; font-size: 12px">
              Room #{{ loop.index }}
            </span>
            <span>
              {{ room.room_name }}
            </span>
          </div>
          <div style="margin-left: auto; display: flex">
            <span
              style="display: block; height: 20px; line-height: 20px; padding: 3px 10px; border-radius: 20px; background: #e1e1e1; color: #555; font-size: 10px; margin-top: 8px; margin-left: 5px">
              {{room.rate.board_basis or '-/-'}}
            </span>
            {% if room.rate.free_cancellation %}
              <span
                style="display: block; height: 20px; line-height: 20px; padding: 3px 10px; border-radius: 20px; background: #e1e1e1; color: #555; font-size: 10px; margin-top: 8px; margin-left: 5px">
                Free Cancellation
              </span>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>