{% set travelers = booking.travelers or [{}] %}

<div style="padding-top: 20px">
    <span style="display: block; font-size: 18px; color: black; font-weight: 500; margin-bottom: 10px">
      Passengers
    </span>
  <table style="width: 100%" cellspacing="0" cellpadding="0">
    <thead>
    <tr style="background: #f4f5f8; height: 40px; color: black">
      <td style="padding-left: 10px">Name</td>
      <td style="padding-left: 10px">Type</td>
      <td style="padding-left: 10px">Passport</td>
      <td style="padding-left: 10px">Nationality</td>
    </tr>
    </thead>
    <tbody>
    {% for traveler in travelers %}
    {% set traveler_data = traveler.data or {} %}
      <tr>
        <td style="padding: 10px; border-bottom: 1px solid #e1e1e1">
          {{ traveler_data.title }}. {{ traveler_data.first_name }} {{ traveler_data.last_name }}
        </td>
        <td style="padding: 10px; border-bottom: 1px solid #e1e1e1">
          {{ traveler_data.type }}
        </td>
        <td style="padding: 10px; border-bottom: 1px solid #e1e1e1">
          <div style="font-size: 12px">
            <span style="color: #999">Number: </span>
            <span>{{ traveler_data.passport_number }}</span>
          </div>
          <div style="font-size: 12px">
            <span style="color: #999">Expire: </span>
            <span>{{ traveler_data.passport_expire }}</span>
          </div>
          <div style="font-size: 12px">
            <span style="color: #999">Country: </span>
            <span>{{ traveler_data.passport_country }}</span>
          </div>
        </td>
        <td style="padding: 10px; border-bottom: 1px solid #e1e1e1">
          {{ traveler_data.country }}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

