{% set booking_code = booking.code or 'TEST000001' %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mail</title>
</head>
<body style="background: #f4f5f8 ;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif">
  <table width="700px" border="0" cellspacing="0" cellpadding="0" style="font-size: 14px; line-height: 1.5; margin:auto; overflow-x: hidden">
    <tbody>
    <tr>
      <td>
        <div style="margin-top: 40px; margin-bottom: 20px">
          {% if app.logo %}
           <img
            src="{{app.logo.url}}"
            style="height: 40px">
          {% else %}
            <span>{{app.name}}</span>
          {% endif %}
          <div style="text-align: right; float: right">
              <span style="font-size: 20px; color: #027BE3; font-weight: 500;">
                {{ booking.code }}
              </span>
            <span style="color: #555; display: block">Booking Number</span>
          </div>
        </div>
      </td>
    </tr>
    {% block body %}
    {% endblock %}
    </tbody>
  </table>
</body>
</html>