{% set tour = product.data or {} %}
{% set selected_activity = tour.activity or {} %}
{% set daily_rate = selected_activity.daily_rate or {} %}
<div style="display: flex; margin-bottom: 20px">
  <div style="width: 30px; margin-right: 20px">
    <div
      style="width: 30px; height: 30px; background: #027BE3; text-align: center; line-height: 33px; border-radius: 50%;">
      <img src="https://storage.googleapis.com/easy_gds_file/icons/tour.png" width="14px" height="14px">
    </div>
    <div style="height: 100%; width: 1px; background: #e1e1e1; margin: auto"></div>
  </div>
  <div style="width: 100%">
    <div>
      <span style="font-size: 12px; color: #999; display: block; line-height: 1;">
        {{ daily_rate.date }}
      </span>
      <span>
        {{ tour.contents.address or '-/-' }}
      </span>
    </div>
    <div
      style="background: #f4f5f8; border-radius: 10px; padding: 15px; margin-top: 10px; border: 1px solid #f4f5f8;">
      <div style="display: flex">
        <div style="border-radius: 5px; width: 60px; height: 60px; overflow: hidden;">
          {% if tour.avatar %}
           <img src="{{ tour.avatar.md }}"
               style="width: 60px; height: 60px; object-fit: cover;">
          {% endif %}

        </div>
        <div style="margin-left: 15px;">
          <span>
            {{ selected_activity.name or tour.name }}
          </span>
          <span style="display: block; font-size: 12px; color: #999">
            {{ tour.duration}} {% if tour.hotel_pickup  %}| Hotel Pickup {% endif %}
          </span>
          <span style="display: block; font-size: 12px; color: #999; margin-top: 3px">
            {{ tour.contents.address or '-/-' }}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>