{% extends 'children/layout/index.html' %}
{% set booking_contact = booking.get('contact') or {} %}
{% set payment = booking.get('payment') %}

{% block body %}
<tr>
    <td>
        <div style="background: white; border-radius: 10px; padding: 20px; margin-bottom: 20px">
            <span style="font-size: 18px; font-weight: 500; margin-bottom: 10px; display: block">
              Dear {{ booking_contact.first_name }} {{ booking_contact.last_name }}
            </span>
            <span style="color: #555; display: block">
              Your booking has been confirmed. Please find the attached booking confirmation details for your reference Thank you for choosing us.
            </span>
        </div>
    </td>
</tr>
{% if payment %}
{% include 'children/payment/index.html' %}
{% endif %}
{% include 'children/prices/index.html' %}
{% include 'children/footer/index.html' %}
{% endblock %}