{% extends 'children/layout/index.html' %}
{% set booking_contact = booking.get('contact') or {} %}
{% set payment = booking.get('payment') %}

{% block body %}
<tr>
    <td>
        <div style="background: white; border-radius: 10px; padding: 20px; margin-bottom: 20px">
            <p style="font-size: 18px; font-weight: 500; margin-bottom: 10px; display: block">
                Dear {{ booking_contact.first_name }} {{
                booking_contact.last_name }}
            </p>
            <p style="color: #555; display: block">
                Your booking has been confirmed. Please find the
                attachments for your booking below.
            </p>
            <p style="color: #555; display: block">
                Thank you for choosing us.
            </p>
        </div>
    </td>
</tr>
{% if payment %}
{% include 'children/payment/index.html' %}
{% endif %}
{% include 'children/prices/index.html' %}
<tr>
    <td>
        <div style="background: white; border-radius: 10px; padding: 20px; margin-bottom: 20px">
        <span style="font-size: 18px; font-weight: 500; margin-bottom: 10px; display: block">
          Your Trip
        </span>
            {% for product in booking.products %}
                {% if product.code == 'flight' %}
                {% include 'children/flight/index.html' %}
                {% endif %}
                {% if product.code == 'tour'%}
                {% include 'children/tour/index.html' %}
                {% endif %}
                {% if product.code == 'hotel' %}
                {% include 'children/hotel/index.html' %}
                {% endif %}
            {% endfor %}
        </div>
    </td>
</tr>
{% include 'children/passengers/index.html' %}
{% include 'children/footer/index.html' %}
{% endblock %}